* {
  box-sizing: border-box;
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 50px 1fr;
  grid-template-rows:80px calc(100vh - 80px);
  grid-template-areas:
    "n n h h"
    "n n c c"
    "n n c c"
}
header {
  background-color: orange;
  grid-area: h;

}
nav {
  background-color: cornflowerblue;
  grid-area: n;
}
section {
  background-color: lightgrey;
  grid-area: c;
}
