.wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: lightgreen;
}
h1 {
  width: 100%;
  padding: 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color:#00c;
  text-shadow: 2px 2px 4px #0008;
  background-color: #cff;
  font-family: Arial;
  border: 1px dotted green;
}
span {
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  font-size: 20px;
  font-family: Arial;
  text-align: center;

}
img {
  width: 100%;
  border: 1px dotted black;
}
.box {
  width: 250px;
  height: auto;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  border: 1px dotted cornflowerblue;
  border-radius: 10px;
  background-color: white;
}
.button {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border: 1px solid #fcf;
  border-radius: 4px;
  background-color: yellow;
  color: red;
  margin: 10px auto;
  padding: 10px;
}
.inBlock {
  padding: 0;
  margin-bottom: 15px;
}
